/*html {
    height: 100%;
}*/

@keyframes animatedBackground {
  from { background-position: 0 0; }
    to { background-position: 400% 0; }
    }

    body	{
    	width: 1400px;
    	height: 400px;
    	background-image: url(../images/honey.png);
    	background-position: 0px 10px;
    	background-repeat: repeat-x;
      /*background-attachment: fixed;*/
    	animation: animatedBackground 90s linear infinite;
    }
/*body {
  height: 100%;
  text-align: center;*/
  /*margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  /*background-image: url('../honey.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;


}*/

li {
  display: block;
}

h2 {
  text-align: center;
  font-style: bold;
  font-size: 50px;
  padding-top: 44px
}

p{
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  font-color: rgb(12,42,32)
}

a{
  font-family: sans-serif;
  font-color: black;
}


input[type=checkbox] {
       display:none;
     }
     input[type=checkbox] + label
      {
          background: #fff;
          height: 37px;
          width: 57px;
          display:inline-block;
          padding: 0 0 0 0px;
      }

      input[type=checkbox]:checked + label
       {
           background-image: url('../images/tiggger.png');
           background-size: cover;
           height: 37px;
           width: 57px;
           display:inline-block;
           padding: 0 0 0 0px;
       }


.mainDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8%;

}

ul{
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}
